.main-container {
  //width: 200px;
  //margin: 0 auto;
}

.btn-group {
  background-color: white;
}

.btn {
  font-size: 12px;

  &:hover {
    border: 1px solid #2196F3;
    background-color: #ffffff;
    color: #2196F3;
  }
}

.btn-check:checked + .btn-outline-danger, .btn-check:active + .btn-outline-danger, .btn-outline-danger:active, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show {
  color: #fff;
  background-color: #2196F3;
  border: #2196F3;
  outline: none;
}

.btn-check:checked + .btn-outline-success, .btn-check:active + .btn-outline-success, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show {
  color: #fff;
  background-color: #2196F3;
  border: #2196F3;
  outline: none;
}

.btn-outline-danger {
  color: #4A4A4A;
  border-color: #DFE5EC;
  padding: 15px;
  background-color: white;
}
