.main-container {
  //width: 200px;
  //margin: 0 auto;
}

.btn-group {
  background-color: white;
}

.btn {
  font-size: 12px;
  padding: 15px;
  background-color: white;
  color: grey;
  border-color: #DFE5EC;

  &:hover {
    border: 1px solid #2196F3;
    background-color: #ffffff;
    color: #2196F3;
  }
}

.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #2196F3;
  border-color: #2196F3;
}

