html,
body {
    margin: 0;
    padding: 0;
}


html{
    background: #F3F7FA;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

#root{
    background: #F3F7FA;
}

